@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

.container{
	width:100%;
}

.header{
	width:100%;
	padding:5px;
	background-color:red;
	color:white;
	font-size:3vw;
}

.nav{
	width:100%;
	padding:5px;
	background-color:green;
	color:white;
}

.cart{
	float:right;
	margin-right:1rem;
	font-size:2vw;
}

.image{
	width:1.5rem;
	height:auto;
	border-radius:10%;
	float:right;
	margin-right:5rem;
}

.button {
  background: none!important;
  border: none;
  padding: 0!important;
  color:white;
  text-decoration: none;
  cursor: pointer;
  font-size:2.5vw;
}

.button:hover{
	color:black;
}

.content{
	border:2px solid black;
	height:35rem;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.summary{
	border:1px solid black;
	width:35%;
	min-height:15rem;
	height:auto;
	padding:1rem;
	margin-top:2rem;
}

button{
	background-color:red;
	color:white;
	border:none;
	padding:.2rem;
	margin:.2rem;
	box-shadow:2px 2px 2px black;
}

button:hover{
	background-color:green;
	cursor:pointer;
}

.footer{
	height:auto;
	padding:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:black;
	color:white;
	font-size:2vw;
}

.github{
	width:3%;
	height:auto;
	border-radius:50%;
	display:inline-block;
}

.github:hover{
	cursor:pointer;
	width:4%;
	height:auto;
}