@charset "ISO-8859-1";

*{
	margin:auto;
	padding:auto;
}

.container{
	
}

.header{
	padding:5px;
	background-color:red;
	color:white;
	font-size:3vw;
}

.nav{
	padding:5px;
	background-color:green;
	color:white;
}

a{
	color:white;
	font-size:3vw;
	text-decoration:none;
}

a:hover{
	color:black;
}

.content{
	
}

.special{
	width:20%;
	height:auto;
	display:block;
	margin:auto;
	border-radius:50%;
}

.special:hover{
	cursor:pointer;
	border:2px solid black;
}

.food{
	width:80%;
	height:auto;
	padding:5px;
	margin:5px;
	border:2px solid black;
	display:flex;
	align-items:flex-start;
	font-size:2vw;
}

.footer{
	height:auto;
	padding:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:black;
	color:white;
	font-size:2vw;
}

.github{
	width:3%;
	height:auto;
	border-radius:50%;
	display:inline-block;
}

.github:hover{
	cursor:pointer;
	width:4%;
	height:auto;
}